html {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #103C48;
	font: 18px monospace;
	height: 100%;
}


.intro-box {
	background-color: #32302f;
	border-radius: 0px;
	flex-direction: column;
	min-height: 30ch;
	min-width: 20ww;
	max-width: 100ch;
	padding: 2em;
	color: #fff
}

.clock-box {
    background: #32302f;
    border: 2px solid rgb(96 139 168);
}

.links {
    background: #32302f;
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


p {
    margin: 0;
    
}

#time {
	color: #22cccc;
	font-weight: bold;
}

